[Desktop Entry]
Name=Raspberry Pi centralised control
Exec=sh -c "cd '/path/to/Raspberry-Pi-centralised-control/src'; /usr/bin/python3 Main.py"
Icon=/path/to/your/icon.png
Terminal=false
Type=Application
Categories=Development;Python;